.footer {
  margin: 0 auto;
}

.footer__copyright {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #ffffff;

  margin: 92px auto 0;
  padding-bottom: 24px;
}

@media screen and (max-width: 1001px) {
  .footer__copyright {
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    margin: 64px auto 0;
  }
}
